[alias]
  ci = commit
  st = status
  lc = log ORIG_HEAD.. --stat
  co = checkout
  patch = diff --no-ext-diff
  d = difftool

  gl  = log -10 --color=always --all --graph --topo-order --pretty='format: %Cgreen%h%Creset %s%Cred%d%Creset%n'
  gll = log     --color=always --all --graph --topo-order --pretty='format: %Cgreen%h%Creset %s%Cred%d%Creset%n'

  lastcommit = log -1 --format=format:%h

[user]
  name = Jon Duell
  email = jon@jonduell.com

[color]
  ui = auto

[core]
	excludesfile = /Users/jonduell/.gitignore
	autocrlf = input
  safecrlf = true

[pager]
  diff =

[url "http://git.drupal.org/project/"]
  insteadOf = "mod:"

[merge]
  tool = threesome

[mergetool "threesome"]
  cmd = "mvim -f $BASE $LOCAL $REMOTE $MERGED -c 'ThreesomeInit'"
  trustExitCode = true

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
